*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    font-family: "Microsoft YaHei", "iconfont";
    font-size: 62.5%;
}

a, a:hover, a:active{
    text-decoration: none;
}

li{
    list-style-type: none;
}